### Import necessary dependencies

In [1]:
!pip install setuptools

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: setuptools in c:\users\back2\appdata\roaming\python\python312\site-packages (75.1.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install --upgrade pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\back2\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\back2\appdata\roaming\python\python312\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\back2\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\back2\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\back2\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\back2\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from packaging.version import Version as LooseVersion
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id 
import pandas as pd
from datetime import datetime, timedelta
from sqlalchemy import create_engine
import psycopg2

In [4]:
Spark

NameError: name 'Spark' is not defined

In [ ]:
spark = SparkSession.builder.appName("NUGABANKETL").getOrCreate()

### Data Extraction

In [92]:
nuga_bank_df = spark.read.csv(r'nuga_bank_transactions.csv',header = True)

In [93]:
nuga_bank_df.show(10)

+--------------------+------+----------------+--------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|    Transaction_Date|Amount|Transaction_Type| Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|Gender|Marital_Status|
+--------------------+------+----------------+--------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|    James Neal|54912 Holmes Lodg...|   West Keithborough|       Florida|                Togo|Benson, Johnson a...|                NULL|                NULL|  493.720.6609x7545|   3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...| Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|   Thomas Long| 1133 Collin Passage|          Joshuabury|   Connecticut|Lao People's Demo...|                NULL|   Food technologist|michellelynch@exa...|      (497)554-3317|               NULL|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     NULL|2020-12-27 13:23:...|Teach edge make n...|Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|Ashley Shelton|5297 Johnson Port...|         North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|       675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|    Z|       No|2020-01-24 01:23:...|Again line face c...| Other|          NULL|
|2024-04-17 15:29:...|407.15|         Deposit| James Rosario|56955 Moore Glens...|  North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|      4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|  NULL|          NULL|
|2024-02-10 01:51:...|161.31|         Deposit|Miguel Leonard|262 Beck Expressw...|                NULL| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               NULL|    213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|Female|       Married|
|2024-02-10 22:56:...|764.34|        Transfer|   Jesse Clark|      194 Derek Burg|        Wallacemouth|    New Mexico|             Estonia|           Smith Ltd| Seismic interpreter|benjaminwalker@ex...|   229-511-2530x870|       501851472974|                NULL|          ZWD|         NULL|       B|    Z|      Yes|2023-02-18 19:26:...|                NULL| Other|       Married|
|2024-04-07 00:07:...|734.59|         Deposit|    Mark Estes|4077 James Lane A...|      Williamsonport|      Michigan|Antarctica (the t...|         Wade-Kelley|  Surveyor, minerals|karenrobinson@exa...|      (840)334-1610|4543690154172468535|GB55FCPC779828821...|          CAD|       7304.0|       A|    X|      Yes|2020-10-27 16:48:...|Standard prepare ...|  Male|          NULL|
|2024-03-08 01:51:...|592.43|         Deposit|    Kelly Ruiz|                NULL|          New Lauren|          NULL|                NULL|                NULL|Medical laborator...|  iestes@example.org| 495.430.4276x42618|      4500718397537|GB78FDAJ595830659...|          RON|       2445.0|       B|    X|       No|2022-11-19 08:59:...|                NULL|Female|        Single|
|2024-04-02 06:21:...|472.35|        Transfer|          NULL|1467 Heather Vill...|         Conniemouth|          NULL|               Macao|Ellis, Smith and ...|Television/film/v...|rebeccarodriguez@...|       511.666.5891|      4884893247570|GB91HQDO449272193...|          LTL|       2721.0|    NULL|    Z|       No|                NULL|Leg out walk rece...| Other|          NULL|
|2024-02-01 12:34:...| 927.1|         Deposit|     Brad Yang|    579 Nolan Harbor|South Christopher...|  South Dakota|                NULL|         Lindsey LLC|Programmer, appli...|maryduran@example...|  (241)738-0972x658|    180039947294310|GB48WNWB013807482...|          HRK|       3061.0|       B|    X|       No|2020-08-31 20:40:...|Notice paper son ...|Female|        Single|
+--------------------+------+----------------+--------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
only showing top 10 rows

In [94]:
nuga_bank_df.printSchema()

root
 |-- Transaction_Date: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: string (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

In [95]:
## to read your file and also show the correct datatype use this code,
nuga_bank_df = spark.read.csv(r'nuga_bank_transactions.csv',header = True, inferSchema=True)

In [96]:
nuga_bank_df.printSchema()

root
 |-- Transaction_Date: timestamp (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: long (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: double (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: timestamp (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

### Data Cleaning and Transformation

In [97]:
# check your columns
nuga_bank_df.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [98]:
# number of rows
num_rows = nuga_bank_df.count()

num_rows

1000000

In [99]:
# number of columns
num_columns = len(nuga_bank_df.columns)
num_columns

23

In [100]:
# checking for null values
for columns in nuga_bank_df.columns:
        print(columns, 'nulls', nuga_bank_df.filter(nuga_bank_df[columns].isNull()).count())

Transaction_Date nulls 0
Amount nulls 0
Transaction_Type nulls 0
Customer_Name nulls 100425
Customer_Address nulls 100087
Customer_City nulls 100034
Customer_State nulls 100009
Customer_Country nulls 100672
Company nulls 100295
Job_Title nulls 99924
Email nulls 100043
Phone_Number nulls 100524
Credit_Card_Number nulls 100085
IBAN nulls 100300
Currency_Code nulls 99342
Random_Number nulls 99913
Category nulls 100332
Group nulls 100209
Is_Active nulls 100259
Last_Updated nulls 100321
Description nulls 100403
Gender nulls 99767
Marital_Status nulls 99904

In [101]:
# How to fill up missing or null values
nuga_bank_df_clean = nuga_bank_df.fillna({
    'Customer_Name': 'unknown',
    'Customer_Address': 'unknown',
    'Customer_City': 'unknown',
    'Customer_State':'unknown',
    'Customer_Country': 'unknown',
    'Company': 'unknown',
    'Job_Title': 'unknown',
    'Email': 'unknown',
    'Phone_Number': 'unknown',
    'Credit_Card_Number': 0,
    'IBAN': 'unknown',
    'Currency_Code': 'unknown',
    'Random_Number': 0.0,
    'Category': 'unknown',
    'Group': 'unknown',
    'Is_Active': 'unknown',
    'Description': 'unknown',
    'Gender': 'unknown',
    'Marital_Status': 'unknown'
})

In [102]:
# Drop rows where last updated is null
nuga_bank_df_clean = nuga_bank_df_clean.na.drop(subset=['Last_Updated'])

In [103]:
# confirm changes made for null values
for columns in nuga_bank_df_clean.columns:
        print(columns, 'nulls', nuga_bank_df_clean.filter(nuga_bank_df_clean[columns].isNull()).count())

Transaction_Date nulls 0
Amount nulls 0
Transaction_Type nulls 0
Customer_Name nulls 0
Customer_Address nulls 0
Customer_City nulls 0
Customer_State nulls 0
Customer_Country nulls 0
Company nulls 0
Job_Title nulls 0
Email nulls 0
Phone_Number nulls 0
Credit_Card_Number nulls 0
IBAN nulls 0
Currency_Code nulls 0
Random_Number nulls 0
Category nulls 0
Group nulls 0
Is_Active nulls 0
Last_Updated nulls 0
Description nulls 0
Gender nulls 0
Marital_Status nulls 0

In [104]:
# confirm changes made for drop command.
num_rows = nuga_bank_df_clean.count()

num_rows

899679

In [105]:
# To have an overview of summary statistics of the data
nuga_bank_df_clean.describe().show()

+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+
|summary|            Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|     Company|         Job_Title|              Email|        Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|    Random_Number|Category|  Group|Is_Active|         Description| Gender|Marital_Status|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+
|  count|            899679|          899679|       899679|              899679|       899679|        899679|          899679|      899679|            899679|             899679|              899679|              899679|              899679|       899679|           899679|  899679| 899679|   899679|              899679| 899679|        899679|
|   mean|505.10367708927123|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|        NULL|              NULL|               NULL| 6.002851385999521E9|3.409662226750533...|                NULL|         NULL|4952.920380491264|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
| stddev| 285.7945343300485|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|        NULL|              NULL|               NULL|2.3068371038619423E9|1.189655005733000...|                NULL|         NULL|2966.543401151591|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
|    min|              10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan|Abbott Group|Academic librarian|aabbott@example.com|       (200)201-4254|                   0|GB02AAAU191993009...|          AED|              0.0|       A|      X|       No|A American and to...| Female|      Divorced|
|    max|            1000.0|      Withdrawal|      unknown|             unknown|      unknown|       unknown|         unknown|     unknown|           unknown|zzuniga@example.org|             unknown| 4999984361512569455|             unknown|      unknown|           9999.0| unknown|unknown|  unknown|             unknown|unknown|       unknown|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+

In [106]:
# create a data model using the appropriate tool ( lucid or draw io)

In [107]:
nuga_bank_df_clean.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

### Table creation

In [108]:
# Transactaction table
Transaction = nuga_bank_df_clean.select('Transaction_Date', 'Amount', 'Transaction_Type')
# Add the transaction_ID column
Transaction = Transaction.withColumn('Transaction_ID', monotonically_increasing_id())
# Reordering columns to make sure the added column comes first
Transaction = Transaction.select('Transaction_ID','Transaction_Date', 'Amount', 'Transaction_Type')

Transaction.show()

+--------------+--------------------+------+----------------+
|Transaction_ID|    Transaction_Date|Amount|Transaction_Type|
+--------------+--------------------+------+----------------+
|             0|2024-03-23 15:38:...| 34.76|      Withdrawal|
|             1|2024-04-22 19:15:...|163.92|      Withdrawal|
|             2|2024-04-12 19:46:...|386.32|      Withdrawal|
|             3|2024-04-17 15:29:...|407.15|         Deposit|
|             4|2024-02-10 01:51:...|161.31|         Deposit|
|             5|2024-02-10 22:56:...|764.34|        Transfer|
|             6|2024-04-07 00:07:...|734.59|         Deposit|
|             7|2024-03-08 01:51:...|592.43|         Deposit|
|             8|2024-02-01 12:34:...| 927.1|         Deposit|
|             9|2024-03-22 16:46:...| 66.59|        Transfer|
|            10|2024-04-23 13:30:...| 246.3|      Withdrawal|
|            11|2024-01-13 01:22:...|782.32|      Withdrawal|
|            12|2024-02-25 15:16:...|818.42|      Withdrawal|
|            13|2024-01-01 20:55:...|352.23|      Withdrawal|
|            14|2024-01-19 00:01:...|316.19|      Withdrawal|
|            15|2024-04-09 14:40:...|662.26|      Withdrawal|
|            16|2024-04-15 04:58:...|893.73|         Deposit|
|            17|2024-04-12 14:32:...|746.22|      Withdrawal|
|            18|2024-02-26 14:43:...|214.77|      Withdrawal|
|            19|2024-01-17 14:50:...|726.94|      Withdrawal|
+--------------+--------------------+------+----------------+
only showing top 20 rows

In [109]:
# Customer table
# to reduce reductancy or repeatation where one customer made multiple purchase use (.distinct)
Customer = nuga_bank_df_clean.select('Customer_Name','Customer_Address','Customer_City',
                                        'Customer_State','Customer_Country','Email','Phone_Number').distinct()
# Add the Customer_ID column
Customer = Customer.withColumn('Customer_ID', monotonically_increasing_id())
# Reordering columns to make sure the added column comes first
Customer = Customer.select('Customer_ID','Customer_Name','Customer_Address','Customer_City',
                                        'Customer_State','Customer_Country','Email','Phone_Number')

Customer.show()

+-----------+------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
|Customer_ID|     Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|               Email|        Phone_Number|
+-----------+------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
|          0|    Allen Castillo|   5750 Vanessa Neck|     New Vickiemouth|North Carolina|              Zambia|             unknown|  732.974.7438x89666|
|          1|        Tina Jones|28150 Kelsey Stat...|             unknown|          Iowa|               Qatar|gabriellemoore@ex...|    736.645.3977x275|
|          2|    Michael Murphy|894 Williams Ridg...|       Dominguezview|      New York|              Sweden|kristinstanley@ex...|+1-693-739-2204x8851|
|          3|       Brian Glenn|505 Mcdowell Gard...|South Christinech...|  South Dakota|             Lesotho|bcabrera@example.net|001-962-928-1897x...|
|          4|      Jennifer Liu|07805 Taylor Lock...|          South Lisa|       Wyoming|             unknown|fergusonjustin@ex...|   688.888.9882x6972|
|          5|           unknown|638 Collins Field...|             unknown|      Arkansas|             Armenia|pauladams@example...| +1-370-790-4769x506|
|          6|  Mr. John Burnett|400 Hudson Wells ...|             unknown|      New York|             unknown|kmitchell@example...|       (946)282-5147|
|          7|       Gary Archer| 0930 Michael Stream|            Boydport|North Carolina|Palestinian Terri...|kennethscott@exam...|       (713)965-2955|
|          8|         Erin Hood|             unknown|         Johnsonland|  South Dakota|             unknown|  yjones@example.org|        215-735-9369|
|          9|        Tommy Wood|             unknown|      Cameronborough|        Kansas|              Uganda|  rwells@example.com|          6289005739|
|         10|           unknown|    75803 Scott Mill|        Theresashire|        Oregon|  Dominican Republic|davidgarcia@examp...|    001-545-820-1419|
|         11|Mr. Gary Brooks II|   786 Mccarthy Fall|         Traceymouth|         Idaho|            Kiribati|ellislouis@exampl...|          8963308214|
|         12|    Julie Crawford|4531 Douglas Stre...|      Port Dianeside|       Arizona|Lao People's Demo...|             unknown|        473-295-8658|
|         13|    Zachary Grimes|42686 Jessica Loc...|           Johnshire|      Virginia|             Tunisia|vanessa93@example...|       (464)800-5827|
|         14|          Lee Lane|             unknown|North Elizabethmouth| New Hampshire|                Peru|danielsjoshua@exa...|001-849-803-1447x...|
|         15| Jessica Zimmerman|    15565 Reed Wells|       East Johnland|       Florida|                Chad|awilliams@example...|  664.840.4619x25293|
|         16|   Denise Johnston|98089 Kristen Roa...|           South Amy|    New Jersey|     Kyrgyz Republic|             unknown|    799-297-6013x169|
|         17|     Heidi Vazquez|5346 Gordon Shore...|          Briggsberg|     Wisconsin|             unknown| pobrien@example.org|          3294797221|
|         18|  Lindsey Thompson|7442 Sabrina Dam ...|            Ryantown|     Wisconsin|    Marshall Islands|             unknown|             unknown|
|         19|     Tammy Simmons|997 Flores Locks ...|            Woodston|      Nebraska|                Oman| udecker@example.com|+1-853-249-6586x8571|
+-----------+------------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
# Employee table
Employee = nuga_bank_df_clean.select('Company','Job_Title','Gender','Marital_Status').distinct()
# Add the Customer_ID column
Employee = Employee.withColumn('Employee_ID', monotonically_increasing_id())
# Reordering columns to make sure the added column comes first
Employee = Employee.select('Employee_ID','Company','Job_Title','Gender','Marital_Status')

Employee.show()

In [111]:
# Fact table
Fact_table = nuga_bank_df.join(Customer, ['Customer_Name','Customer_Address','Customer_City',\
                                        'Customer_State','Customer_Country','Email','Phone_Number'], 'left')\
                         .join(Transaction, ['Transaction_Date', 'Amount', 'Transaction_Type'],'left')\
                         .join(Employee, ['Company','Job_Title','Gender','Marital_Status'], 'left')\
                         .select('Transaction_ID','Customer_ID','Employee_ID','Credit_Card_Number','IBAN',\
                                 'Currency_Code','Random_Number','Category','Group','Is_Active','Last_Updated','Description',)   


Fact_table.show()

+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
|Transaction_ID|Customer_ID|Employee_ID|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|
+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
|   25769803789|     198798|       NULL|  6011153251503935|GB28FTRX421798999...|          CHF|       1792.0|       C|    Z|      Yes|2020-07-14 19:25:...|Compare sell bank...|
|             1|25769857338|       NULL|              NULL|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     NULL|2020-12-27 13:23:...|Teach edge make n...|
|          NULL|       NULL|       NULL|  4263644221766495|GB47BGNG208602249...|          AOA|       6148.0|       D|    Y|       No|                NULL|Camera spring tea...|
|             0|       NULL|       NULL|  3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...|
|   17179869198| 8590098865|     145802|   180067592769732|GB92JVMY004197871...|          EGP|       7198.0|       A|    Z|      Yes|2023-10-12 22:25:...|Before story prof...|
|   17179869199| 8590088473|     142787|  4239162655922295|GB96MEEY268453596...|          BTN|       5605.0|       D|    Z|       No|2020-03-22 00:53:...|Visit present reg...|
|          NULL|       NULL|       NULL|     4992983727466|GB36SBTK432530517...|          XCD|       9327.0|       C|    X|       No|                NULL|Run need whether ...|
|    8589934592|       NULL|      59314|   213133896337542|GB07IUUE487965913...|          ISK|         NULL|       D|    Y|       No|2023-08-16 10:32:...|Themselves make ago.|
|    8589934601|17179958193|      60318|  6011177559558424|GB76DNER497098023...|          BZD|       6499.0|       D|    X|     NULL|2020-02-09 13:11:...|Risk take recent ...|
|   17179869184|       NULL|     134699|    38737697224239|GB44WJZF814413539...|          JMD|       8569.0|       C|    Z|     NULL|2021-01-25 12:59:...|                NULL|
|             8|       NULL|      29069|   180039947294310|GB48WNWB013807482...|          HRK|       3061.0|       B|    X|       No|2020-08-31 20:40:...|Notice paper son ...|
|    8589934605|     104083|      78609|   213123497507940|GB61RQDC156293863...|          GBP|         NULL|       B|    Z|      Yes|2023-01-29 06:25:...|    Plant very name.|
|   17179869193|       NULL|       NULL|      676238874298|GB97KDBS092829971...|         NULL|       7884.0|       B|    X|       No|2022-02-01 15:24:...|As view free its ...|
|   25769803783|       NULL|       NULL|    30472377458372|GB78IXJB107495171...|          MDL|       6463.0|       A|    Z|       No|2020-09-25 02:11:...|Country stage sam...|
|   17179869197| 8590056262|     113350|      639006216746|GB81CQQR004909975...|         NULL|       8199.0|       B|    Y|       No|2024-03-31 18:51:...|Try step sound. B...|
|   17179869185|       NULL|       NULL|  4312581214377529|GB19SYHJ887391608...|          ZAR|         NULL|       A|    Y|      Yes|2021-02-17 12:15:...|Ask lead do process.|
|    8589934594|       NULL|      99167|  4446095865473916|GB24AWUC828521792...|          MRO|       6536.0|       D|    Z|       No|2020-04-09 23:10:...|Gun media after n...|
|             3|      34428|       NULL|     4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|
|   17179869190|       NULL|       NULL|  2720519730736372|GB74KMBP759022527...|          BTN|       4109.0|       D|    Z|      Yes|2020-03-23 11:52:...|Chance be edge ch...|
|             7|       NULL|       NULL|     4500718397537|GB78FDAJ595830659...|          RON|       2445.0|       B|    X|       No|2022-11-19 08:59:...|                NULL|
+--------------+-----------+-----------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+
only showing top 20 rows

In [80]:
# output or save transformed data as csv file
#Transaction.repartition(1).write.mode('overwrite').option('header', 'True').csv(r'C:\Users\back2\Desktop\(PYSPARK case_study)/Transaction')
#Employee.repartition(1).write.mode('overwrite').option('header', 'True').csv(r'C:\Users\back2\Desktop\(PYSPARK case_study)/Employee')
#Customer.repartition(1).write.mode('overwrite').option('header', 'True').csv(r'C:\Users\back2\Desktop\(PYSPARK case_study)/Customer')
#Fact_table.repartition(1).write.mode('overwrite').option('header', 'True').csv(r'C:\Users\back2\Desktop\(PYSPARK case_study)/Fact_table')

In [ ]:
# convert spark_df to pandas_df
Transaction_pd_df = Transaction.toPandas()
Customer_pd_df = Customer.toPandas()
Employee_pd_df = Employee.toPandas()
Fact_table_pd_df = Fact_table.toPandas()

In [ ]:
# Define database parameters including the database name
db_params ={
    'username': 'postgres',
    'password': '0852',
    'host': 'localhost',
    'port': '5432',
    'database': 'nuga_bank'
}
db_url = f"postgresql://{db_params['username']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"
# create the database engine with the db url
engine = create_engine(db_url)
# connect to PostgreSQL server
with engine.connect() as connection:

# create table and load the data
    Transaction_pd_df.to_sql('Transaction', connection, index=False, if_exists='replace')
    Customer_pd_df.to_sql('Customer', connection, index=False, if_exists='replace')
    Employee_pd_df.to_sql('Employee', connection, index=False, if_exists='replace')
    Fact_table_pd_df.to_sql('Fact_table', connection, index=False, if_exists='replace')
print('successfull')